@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}


::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #161E2C;
  opacity: 0.6; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Border radius of the handle */
}